header {
  position: relative;

  border: 1px solid #ccc;
  .header {
    border-top: 1px solid #ccc;
    .header__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      flex-wrap: wrap;
      .btn__category {
        background: #3bb77e;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        border-radius: 8px;
        color: #fff !important;
        font-size: 16px !important;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;

        svg {
          font-size: 20px;
        }
      }
      .support {
        display: flex;
        align-items: center;
        gap: 12px;
        svg {
          font-size: 36px;
        }
        .text {
          h5 {
            font-family: Quicksand;
            font-size: 26px;
            font-weight: 700;
            line-height: 26px;
            text-align: left;
            color: #3bb77e;
          }
          p {
            font-family: Lato;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            letter-spacing: 0.8999999761581421px;
            text-align: left;
            color: #7e7e7e;
          }
        }
      }
      .deals {
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 700;
        line-height: 70px;
        text-align: left;
        color: #253d4e;
        display: flex;
        align-items: center;
        gap: 15px;
        svg {
          color: #3bb77e;
          font-size: 28px;
        }
      }
      .btn__select {
        display: flex;
        align-items: center;
        gap: 5px;
        transition: 0.4s linear;
        &:hover {
          p {
            color: #3bb77e;
          }
          svg {
            color: #3bb77e;
          }
        }
        p {
          font-family: Quicksand;
          font-size: 16px;
          font-weight: 700;
          line-height: 70px;
          text-align: left;
          color: #253d4e;
        }
        svg {
          color: #253d4e;
          font-size: 16px;
        }
      }
    }
  }

  @media only screen and (max-width: 1251px) {
    .header__bottom {
      .btn__category {
        p {
          display: none;
        }
        .down {
          display: none;
        }
      }
    }
  }
  @media only screen and (max-width: 1050px) {
    .header__bottom {
      .deals {
        p {
          display: none;
        }
      }
    }
  }
  @media only screen and (max-width: 999px) {
    .header__bottom {
      .support {
        .text {
          display: none;
        }
      }
    }
  }
  @media only screen and (max-width: 855px) {
    .header {
      position: absolute;
      //   top: -900px;
      width: 100%;
      background: #fff;
      transition: 0.2s linear;
      opacity: 0;
      display: none;
      z-index: 9;
      box-shadow: 3px 3px 5px rgba(150, 150, 150, 0.2);
      .header__bottom {
        align-items: center;
        gap: 32px;
        flex-wrap: wrap;
        button {
          padding: 0;
          p {
            line-height: 32px;
          }
        }
      }
      &.show {
        opacity: 1;
        display: block;
      }
    }
  }
}
