.cards_pro{
    display: flex;
    align-items: center;
    justify-content: center;gap: 20px;
    flex-wrap: wrap;
    .card{
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 12px;
        overflow: hidden;
        width: 280px;
        padding: 10px;
        img{
            width: 100%;
            height: 200px;
            object-fit: contain;
        }
        .card__content{
            padding: 10px 5px;
            b{
                display: block;
            }
            h3{
                display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
              padding: 15px 0 0 0;
              font-family: sans-serif;
              // font-weight: 600;
              font-size: 20px;
              cursor: pointer;
              transition: 0.4s;
    
              &:hover {
                color: rgb(18, 180, 250);
              }
            }
        }
    }
}