.admin-section {
  padding: 0 0 50px;
  .content {
    .cards {
      padding-bottom: 68px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-wrap: wrap;
      gap: 32px;
      // justify-content: center;
      .card {
        &:hover {
          h2 {
            color: #3bb77e;
          }
        }
        transition: 0.2s;
        b {
          font-family: Quicksand;
          font-size: 24px;
          font-weight: 700;
          line-height: 28.8px;
          text-align: left;
          color: #3bb77e;
        }
        h1 {
          font-family: Quicksand;
          font-size: 48px;
          font-weight: 700;
          line-height: 57.6px;
          text-align: left;
          color: #253d4e;
        }
        p {
          max-width: 405px;
          padding-top: 25px;
          font-family: Lato;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #7e7e7e;
        }
        h2 {
          font-family: Quicksand;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          text-align: left;
          color: #253d4e;
        }
      }
      .childCard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        p {
          font-family: Lato;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #7e7e7e;
        }
        // flex-wrap: wrap;
        .card {
          width: 300px;
        }
      }
    }

    .map {
      width: 100%;
    }
  }
  @media only screen and (max-width: 1040px) {
    .content {
      .cards {
        display: flex;
        flex-direction: column;
      }
    }
  }
  @media only screen and (max-width: 666px) {
    .content {
      .cards {
        .childCard {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
