.singleRoute {
  padding-top: 90px;
  .content {
    padding-bottom: 50px;
    &__card {
      .cards {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        flex-wrap: wrap;
        .cardd {
          max-width: 400px;
        }
        .card {
          .imgs {
            padding-top: 30px;
            flex-wrap: wrap;
          }
          .hero___card {
            width: 100%;
            object-fit: contain;
          }
          img {
            border: 1px solid #ccc;
            border-radius: 12px;
            padding: 15px;
          }
          h1 {
            max-width: 444px;
            font-family: Quicksand;
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            text-align: left;
            color: #253d4e;
          }
          .rating {
            padding: 17px 0 34px;
            font-family: Quicksand;
            font-size: 28px;
            font-weight: 700;
            line-height: 28px;
            text-align: left;
            color: #6b6b6b;
          }
          b {
            font-family: Quicksand;
            font-size: 58px;
            font-weight: 700;
            line-height: 58px;
            text-align: left;
            color: #3bb77e;

            del {
              font-family: Quicksand;
              font-size: 28px;
              font-weight: 700;
              line-height: 28px;
              text-align: left;
              color: #6b6b6b;
            }
          }
          .desc {
            padding-top: 31px;
            max-width: 466px;
            font-family: Lato;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #7e7e7e;
          }
          .card__btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            flex-wrap: wrap;
            button {
              border: 1px solid #ccc;
              border-radius: 8px;
            }
            .count {
              display: flex;
              align-items: center;
              gap: 10px;
              button {
                font-family: Quicksand;
                font-size: 24px;
                font-weight: 700;

                text-align: left;
                color: #3bb77e;
                border: 1px solid #3bb77e;
                padding: 5px 10px;
                transition: 0.2s;
                &:hover {
                  background: #3bb77e;
                  color: #fff;
                }
              }
              h1 {
                width: 50px;
                text-align: center;
              }
            }

            .add {
              display: flex;
              align-items: center;
              gap: 5px;
              padding: 0 19px;
              background: #3bb77e;
              border-radius: 8px;
              transition: 0.2s;
              &:active {
                background: #1d6e49;
              }
              p {
                font-family: Quicksand;
                font-size: 16px;
                font-weight: 700;
                line-height: 50px;
                letter-spacing: 0.5px;
                text-align: center;
                color: #fff;
              }
              svg {
                color: #fff;
                font-size: 24px;
              }
            }
            .like {
              padding: 10px 10px 5px;
              text-align: center;
              svg {
                font-size: 24px;
              }
            }
            .arrow {
              padding: 10px 10px 5px;
              text-align: center;
              svg {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}
